@import url(root.css);

/* Banner */

.banner {
  height: 1000px;
  color: white;
  background-image: url("../assets/imagens/fortnite_battle.jpg");
  background-size: 100%;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 9%;
}


.banner .container button {
  background-color: #edf519;
  border-radius: 10px;
  border: 0;
  font-size: 2.2rem;
  font-weight: bold;
  height: 80px;
  width: 280px;
  position: center;
  cursor: pointer;
}

/* Conteudo */

.containercont {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  gap: 100px;
}

/* Fortnite */

.fortnitef {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 1.1rem;
  text-align: justify;
  gap: 100px;
  padding-top: 5%;
}

.fortnitef img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

/* Lobby  */

.lobby {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  text-align: justify;
  gap: 100px;
}

.lobby img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

/* Onibus */

.battlebus {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  text-align: justify;
}

.battlebus img {
  width: 600px;
  height: auto;
}

/* Mapa */

.mapa {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 1.1rem;
  text-align: justify;
  gap: 100px;
}

.mapa img {
  width: 600px;
  height: auto;
}

/* Modos de Jogo  */

.modos {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 100px;
}

.modos span{
  margin-top: -100px;
}

.jogos {
  display: flex;
  justify-content: space-around;
}

.jogos img {
  width: 200px;
  height: auto;
} 

.mode {
  display: flex;
  flex-direction: column;
  text-align:center;
  transition: 0.3s;
  width: 200px;
}

.mode:hover {
  transform: scale(1.08);
}

/* Raridade */

.raridade {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 100px;
}

.raridade span{
  margin-top: -100px;
}

.arsenal {
  display: flex;
  justify-content: space-around;
}

.arsenal img {
  border-radius: 16px;
  width: 200px;
  height: auto;
} 

.arma {
  display: flex;
  flex-direction: column;
  text-align:center;
  width: 200px;
}

.arma img {
  transition: 0.3s;
}

.arma img:hover {
  transform: scale(1.08);
}

/* Construção  */

.construcao {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 100px;
}

.construcao span{
  margin-top: -100px;
}

.pagina {
  display: flex;
  justify-content: space-around;
}

.pagina img {
  border-radius: 16px;
  width: 200px;
  height: auto;
} 

.build {
  display: flex;
  flex-direction: column;
  text-align:center;
  width: 200px;
}

.build img {
  transition: 0.3s;
}

.build img:hover {
  transform: scale(1.08);
}

/* Emote */

.emote {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 1.1rem;
  text-align: justify;
  gap: 100px;
}

.emote img {
  width: 600px;
  height: auto;
}


/* Sobre mim */

.sobremim {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  text-align: justify;
  gap: 100px;
}

.sobremim img {
  width: 600px;
  height: auto;
}