@import url(root.css);

/* Banner */

.banner {
  height: 1000px;
  color: white;
  background-image: url("../assets/imagens/fortnite_battle.jpg");
  background-size: 100%;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 9%;
}


.banner .container button {
  background-color: #edf519;
  border-radius: 10px;
  border: 0;
  font-size: 2.2rem;
  font-weight: bold;
  height: 80px;
  width: 280px;
  position: center;
  cursor: pointer;
}

.containercont {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  gap: 100px;
}

.lobby {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 1.1rem;
  text-align: justify;
  gap: 100px;
}

.lobby img {
  width: 600px;
  height: auto;
}

.mapa {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 1.1rem;
  text-align: justify;
  gap: 100px;
}

.mapa img {
  width: 600px;
  height: auto;
}

.modos {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 100px;
}

.modos span{
  margin-top: -100px;
}

.jogos {
  display: flex;
  justify-content: space-around;
}

.jogos img {
  width: 200px;
  height: auto;
} 

.mode {
  display: flex;
  flex-direction: column;
  text-align:center;
  transition: 0.3s;
  width: 200px;
}

.mode:hover {
  transform: scale(1.08);
}

.battlebus {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  text-align: justify;
}

.battlebus img {
  width: 600px;
  height: auto;
}

.sobremim {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  text-align: justify;
  gap: 80px;
}
.sobremim img {
  width: 600px;
  height: auto;
}