@import url(root.css);

/* Banner */

.banner {
  height: 1000px;
  color: white;
  background-image: url("../assets/imagens/fortnite_battle.jpg");
  background-size: 100%;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 9%;
}


.banner .container button {
  background-color: #edf519;
  border-radius: 10px;
  border: 0;
  font-size: 2.2rem;
  font-weight: bold;
  height: 80px;
  width: 280px;
  position: center;
  cursor: pointer;
}
