@import url(root.css);

/* Login */

.jonesy {
  position: absolute;
  top: 100px;
  left: -5%;
  width: 100px;
  height: 100px;
  padding-left: 4%;
}

.login .container {
  padding-top: 8%;
  padding-bottom: 10%;
}

.login {
  height: var(--tamanho-login);
  background-color: #2194F2;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-login {
width: 592px;
}

.card {
  width: 50%;
  background-color: #242428;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #808080;
  flex-direction: column;
  padding: 20px 0;
}

.card .imagem img {
  width: 300px;
  height: auto;
  padding-top: 15%;
}

.card h2 {
  color: #BEBEBE;
  margin: 0;
  font-size: 1.5rem;
  padding-top: 8%;
  padding-bottom: 4%;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 8%;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 1px solid #808080;
  color: #808080;
  background-color: #242428;
  text-align: start;
  padding-left: 5%;
  height: 30px;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 1px solid #2194F2;
  background-color: #242428;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #2194F2;
  width: 592px;
  height: 52px;
  align-self: center;
  margin-top: 20px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #808080;
  margin: 30px 0;
}
.contas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
}

.contas a {
  cursor: pointer;
}

.contas img {
  width: 120px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none;
}

/* Formulario */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ed145b 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ed145b;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* Simulador */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* Alerta */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1157/1157000.png");
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}