@import url(root.css);

/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

.quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    background-image: url("../assets/imagens/backgroundquiz.jpeg");
    background-size: 100%;
    height: 560px;
    color: white;
}

.btnIniciarQuiz {
    align-items: center;
    width: 800px;
    height: 300px;
    border-radius: 16px;
    font-size: 6rem;
    font-weight: bold;
    border: 0;
    color: #18181c;
    background-color: #edf519;
    font-weight: normal;
    cursor: pointer;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

#opcoes {
display: flex;
flex-direction: row;
}

#pontuacaoEJogo {
display: flex;
flex-direction: row;    
justify-content: space-between;
}

.background {
display: flex;
background-color: #212427;
border-radius: 6px;
align-items: center;
justify-content: center;
width: 700px;
}